.fijoli_main-container {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.post-message{
    width: 50px;
    height: 15px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: red;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px 0;
}

.play-icons {
    display: flex;
    justify-content: center;
}